/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  height:32vw;
  background-image:url('https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring2_promotion_bg_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-inner {
  max-width:100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 8rem;
  z-index: 10;
  {height:100%;}
}

.carousel-item {
  height:100%;
}

/* Declare heights because of positioning of img element */

.set_01 {
  position: relative;
  left: 35%;
  top: 15%;
  width: 15%;
  display: inline-block;
}

.set_02 {
  position: relative;
  left: 40%;
  top: 35%;
  width: 30%;
  display: inline-block;
}

.pc-drink {
  display: block;
}

.m-drink {
  display: none;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* media queries mobile */
@media screen and (max-width:960px) {
    .carousel {width:auto; height:264vw; padding-top:9px; background-image:url('https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_m_spring2_promotion_bg.jpg');
      background-position:center top; box-sizing:border-box; margin-top:9px;};

    .pc-drink {display:none;}

    .carousel-item {bottom:auto; margin: 0;}

    .set_01 {z-index: 9; top: 40%; left: 25%; width: 85%; max-width: 100%;}
    .set_02 {z-index: 10; top: 40%; left: 15%; width: 75%; max-width: 100%;}
}
@media screen and (max-width:320px) {
    .carousel {height:347vw;}
}
