h5{
    font-weight: bold!important;
    font-size:22px;
    margin-top: 1.5rem!important;
    margin-left: 0.5rem!important;
}

h2{
    margin-top: 1rem;
}

h6{
    text-align: center;
}


/* top-banner */
.top-banner{
    background-image:url('../images/mypage/top_banner.jpg');
    opacity: 0.8;
    color: white;
    height: 200px;
    font-size: 50px;
    display : flex;
    justify-content : center;
    align-items : center;
}
/* */


/* profile */
.wrap{
    margin-left: 4rem!important;
    margin-top: 4rem!important;
    margin-bottom: 2rem;
}

.mypage-img{
    background-color: #eaeaea;
}

.mypage-inner{
    text-align: center;
    margin-top: 2rem!important;
    margin-bottom: 2rem;
}

.btn-dark{
    margin-top: 1rem;
}
/* */


/* point */
.point{
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 2rem!important;
}

.point-img{
    margin-top: 1rem!important;
    margin-bottom: 2rem;
    text-align: center;
}
/* */


/* recipe */
.top-wrap{
    margin-top: 2rem!important;
    background-color: #eaeaea;
}

.menu-img{
    background: white;
}
/* */

