h5{
    font-weight: bold!important;
    font-size:22px;
    margin-top: 1.5rem!important;
    margin-left: 0.5rem!important;
}

h2{
    margin-top: 1rem;
}

h6{
    text-align: center;
    font-weight: bold!important;
}


/* top-banner */
.top-banner{
    background-image:url('../images/mypage/top_banner.jpg');
    opacity: 0.8;
    color: white;
    height: 200px;
    font-size: 50px;
    display : flex;
    justify-content : center;
    align-items : center;
}
/* */


/* profile */
.wrap{
    margin-left: 4rem!important;
    margin-top: 4rem!important;
    margin-bottom: 2rem;
}

.mypage-img{
    background: linear-gradient(#d5d5d5, white);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.mypage-inner{
    text-align: center;
    margin-top: 2rem!important;
    margin-bottom: 2rem;
}

.btn-dark{
    margin-top: 1rem;
    margin-left: 1rem;
}
/* */


/* point */
.point{
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 2rem!important;
}

.point-img{
    margin-top: 1rem!important;
    margin-bottom: 2rem;
    text-align: center;
}
/* */


/* recipe */
.bean-list{
    margin-top: 2rem!important;
    background-color: #eaeaea;
}

.card-img-top{
    margin-top: 1rem;
    background: white;
    background: linear-gradient(#E5E2DB, white);
}
/* */

@media screen and (max-width: 960px) {
    .wrap {
        margin-left: 1rem !important;
        margin-top: 2rem !important;
    }

    .card {
        width: 50%!important;
    }

    .mypage-inner .btn {
        font-size: 10px;
    }

    .card-body .btn {
        font-size: 0!important; /* 기존 텍스트를 숨김 */
    }

    .card-body .btn:before {
        content: 'Go';
        font-size: 12px; /* 원하는 폰트 크기로 설정 */
    }
}
