form {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

table {
    border: 1px black solid;
    border-right:none;
    border-left:none;
}

.sub-title {
    margin-top: 2rem;
    margin-left: 2rem;
}
.sub-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.notice-search {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: 95%;
    background: #bcbebf;
    margin-bottom: 2rem!important;
    margin: 0 auto;
}
.notice-content {
    width: 95%;
    margin-bottom: 2rem!important;
    margin: 0 auto;
}

