.beanName{
    font-size: 25px;
    font-weight: bold;
}

.beanList{
    text-align: center;
    justify-content: center;
}

.card{
    margin: 2rem;
}

.card-title{
    margin-top: 2rem;
    margin-bottom: 2.5rem!important;
}

@media screen and (max-width: 960px) {
    .btn {
        font-size: 0!important; /* 기존 텍스트를 숨김 */
    }
    .btn:before {
        content: 'Go';
        font-size: 12px; /* 원하는 폰트 크기로 설정 */
    }
}

@media screen and (max-width: 766px) {
    .card {
        width:50%!important;
    }
    .card-title {
        margin-top: 0rem;
        margin-bottom: 1rem!important;
    }
}