h2 {
    font-weight: bold;
}

.upload-box {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
    background: linear-gradient(#aaaa, white, #aaaa, #aaaa, #aaaa);
    border-radius: 10px 10px 10px 10px;
}

.upload-banner {
    margin-top: 2rem!important;
    margin-left: 2rem;
}

.upload-banner-text {
    margin-bottom: 2rem;
}

.upload-content {
    margin-top: 2rem!important;
    margin-bottom: 2rem;
}

.upload-eximg {
    margin-left: 2rem;
    width: 400px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
}

.upload-extext {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .upload-eximg {
        width: 80%;
        height: 80%;
    }
}