h2 {
    font-weight: bold;
}

.upload-box {
    width: 1100px;
    height: 600px;
    margin: 4rem auto;
    background: linear-gradient(#aaaa, white, #aaaa, #aaaa, #aaaa);
    border-radius: 10px 10px 10px 10px;
}

.upload-banner {
    margin: 3rem;
}

.upload-banner-text {
    margin-bottom: 2rem;
}

.upload-content {
    margin: 3rem;
}

.upload-eximg {
    margin-left: 1rem;
    width: 400px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
}

.upload-extext {
    margin-left: 1rem;
    margin-bottom: 2rem;
}